{% extends "Clinic/clinic_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
    <table class="table table-borderless">
  <tr>
    <th scope="row">Clinic Name</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data['clinic_name'] }}"class="form-control rounded-left"/></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data['phone'] }}"class="form-control rounded-left"/></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" value="{{ data['email'] }}" readonly /></td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4"value="{{ data['place'] }}"class="form-control rounded-left" /></td>
  </tr>
  <tr>
    <th scope="row">Post</th>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5"value="{{ data['post'] }}"class="form-control rounded-left" /></td>
  </tr>
  <tr>
    <th scope="row">Pincode</th>
    <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" value="{{ data['pincode'] }}"class="form-control rounded-left"/></td>
  </tr>
  <tr>
    <th scope="row">License</th>
    <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7"value="{{ data['license'] }}"class="form-control rounded-left" /></td>
  </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update"class="btn btn-success" /></th>
    </tr>
 
</table>
</form>
</body>
</html>
{% endblock %}