{% extends "Clinic/clinic_index.html" %}
{% block body  %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-borderless">
    <tr>
      <th width="115" scope="col">Serail No</th>
      <th width="85" scope="col">Date</th>
      <th width="61" scope="col">Image</th>
      <th width="53" scope="col">Status</th>
    </tr>
       {% for i in data %}
  <tr>
      <td>{{ loop.index }}</td>

    <td>{{ i['date']}}</td>
    <td><img src="{{ i['photo']}}" height="100"width="100" alt=""/></td>
    <td>{{ i['result']}}</td>
  </tr>
{% endfor %}
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
{% endblock %}